

.Weather{
    font-family: arial, sans-serif;
    border: 3px solid grey;
    padding: 20px;
    border-radius: 4px;
color: grey;
    margin: 30px auto 0 auto;
    max-width: 600px;
}

.Weather form{
    margin: 20px;
}
.Weather h1{
    font-size: 44px;
    font-weight: 100;
    line-height: 29px;
    margin: 40px 10px 30px 10px;
  color: rgb(13, 110, 253);
  margin-left: 30px;
   
}
.Weather li{
    font-size: 14px;
    font-weight: 100;
    list-style: none;
    margin-left: 30px;
}
.Weather ul{
    margin: 0;
    padding: 0;
}



.temperature{
    font-weight: 400;
    font-size: 64px;

}

.Weather .unit{
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: -34px;
    margin-left: 5px;


}
.Weather canvas{
    margin-top: 10px;
}

.Weather .details{
   display: grid;
   grid-template-columns: 1fr 1fr;
 
}
.unit a{
    text-decoration: none;
}


.WeekForDay{

    color: rgb(13, 110, 253);
    font-weight: bold;
}
.description{

    color: rgb(13, 110, 253);
}