.Weather{
    font-family: arial, sans-serif;
    border: 1px solid #dadde1;
    padding: 20px;
    border-radius: 4px;
    color: rgb(135, 135, 135);
    margin: 30px auto 0 auto;
    max-width: 600px;
}

.Weather form{
    margin-bottom: 20px;
}
.Weather h1{
    font-size: 44px;
    font-weight: 100;
    line-height: 29px;
    margin: 40px 10px 30px 10px;
  color: rgb(13, 110, 253);
   
}
.Weather li{
    font-size: 14px;
    font-weight: 100;
    list-style: none;
    margin-left: 15px;
}
.Weather ul{
    margin: 0;
    padding: 0;
}



.temperature{
    font-weight: 400;
    font-size: 64px;
  
}

.Weather .unit{
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: -34px;
    margin-left: 5px;

}
.Weather canvas{
    margin: 15px 0 0 15px;
}

.Weather .details{
   display: grid;
   grid-template-columns: 1fr 1fr;
 
}
.unit a{
    text-decoration: none;
}